.settings-container,
.buttons-container,
.settings {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.settings-container > * {
  width: 20%;
  padding: 10px;
}

.settings > button {
  margin-right: 10px;
}